body {
    font-family: 'Playpen Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    min-height: 100vh; /* Garantir que o corpo ocupe pelo menos a altura da tela */
    display: flex;
    flex-direction: column;
}

/* Estilo do Header */
header {
    background-color: #ffffff;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Playpen Sans', sans-serif;
    font-size: 2.5em;
    margin: 20px 0;
    color: #333;
}

nav {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #555;
    margin: 0 15px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Estilos para o Main */
main {
    padding: 20px;
    background-color: #ffffff;
    flex: 1; /* Permite que o main expanda para preencher o espaço disponível */
}

.carrinho {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrinho h2 {
    font-family: 'Playpen Sans', sans-serif;
    color: #007BFF;
    border-bottom: 3px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 2em;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 300px; /* Definindo uma largura fixa para o item */
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centralizando o conteúdo */
    padding-bottom: 20px; /* Espaço no fim para o botão */
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    width: 100%;
    height: 300px; /* Tamanho grande para a imagem */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
}

.item-info {
    padding: 15px;
    text-align: center;
}

.item-info .titulo {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.item-info .preco {
    font-size: 1.5em;
    color: #007BFF;
    margin: 5px 0;
    font-weight: bold;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.total p {
    font-size: 1.5em;
    font-weight: bold;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.2em;
    font-weight: bold;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-remover {
    background-color: #FF0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
    font-weight: bold;
}
.btn-remover:hover {
    background-color: #8b0000;
    transform: scale(1.05);
}